<!doctype html>
<html>
  <head>
    <title>Experiment page</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel='icon' type='image/png' href='img/favicon.png' />
    <!-- custom css -->
    <link href="css/experiment.css" rel='stylesheet' type='text/css'></link>
    <!-- script to get URL param -->
    <script>
      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
      };
    </script>
  </head>
  <body>
    <div class="jumbotron vertical-center">
      <div class="container" style="text-align: left;">
        <h1 class="display-4">Experiment finished</h1>
        <p class="lead">
          You have now completed the experiment. Thank you for your participation. Please note down or copy to your clipboard the following code:  
          <p class="lead">
          <strong>
            <script>
              document.write(getUrlParameter('work'));
            </script>
          </strong>
        </p>
        </p>
        <hr>
        <p class="lead">Do not forget to enter the code we gave in the Appen page in the field "Type the code that you received at the end of the experiment." to finalise the job and receive your money. You will find this field under the link you clicked to open this tab. You may now close this tab.</p>
      </div>
    </div>
  </body>
</html>